@charset "utf-8";
/* CSS Document */
body {
		margin: 0;
}
h2{
	font-size: 2em;
}

span{
	display: block;
	background-color: white;
	padding: 5px;
}
.text {
	border : 1px #ccc dotted;



}
.martini_all{	
	position: relative;	
	height: 100vh;
	background-color: #e2af47;
}
.martini{
	position: absolute;
	height: 50%;
	width: 100%;
	transform: translateY(50%);

}

